<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>合作介绍</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/cooperation.css" />
    <link rel="shortcut icon" href="../images/ico.png" />
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--<nav id="menu" class="navbar navbar-default navbar-fixed-top on home-top-menu">-->
    <!--<div class="container-fluid">-->
        <!--<div class="nav-logo">-->
            <!--<a href="">-->
                <!--<img src="../images/logo.png" />-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="navbar-right">-->
            <!--<ul class="nav">-->
                <!--<li>-->
                    <!--<a href="">公司简介</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">产品信息</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">合作介绍</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">合作申请</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">企业动态</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<div class="nav_top_bg">
    <img src="../images/nav-cooperation-bg.png" alt="">
    <div class="nav_top_bg_text">
        <img src="../images/nav-top-bg-text.png" alt="">
    </div>
</div>
<div class="main">
    <h2 class="seciton-title">合作介绍</h2>
    <div class="container-fluid">
        <article class="cooperation-center-text">
            我们深信任何一种合作，<br/>
            都是为了更好的服务用户，更完美的达到用户需求。<br/>
            因此我们整合各行业资源，让创新的科技、智慧的运营，<br/>
            为用户提供更走心的服务。
        </article>
    </div>
    <div class="Coop-solution">
        <ul class="clearfix">
            <li>
                <a href="">
                    <img src="../images/Coop-solution-1.png" alt="">
                    <h3>合作服务</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/Coop-solution-2.png" alt="">
                    <h3>广告合作</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/Coop-solution-3.png" alt="">
                    <h3>品牌合作</h3>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-contact">
        <div class="container-fluid">
            <p>旺旺集团  自动售货机中心</p>
            <ul class="clearfix">
                <li class="col-xs-12 col-sm-6 col-md-4">
                    <i><img src="../images/footer-contact_01.png" alt=""></i>上海市闵行区虹许路558号3楼
                </li>
                <li class="col-xs-12 col-sm-6 col-md-4">
                    <i><img src="../images/footer-contact_02.png" alt=""></i>BD@hollywant.com
                </li>
                <li class="col-xs-12 col-sm-6 col-md-4">
                    <i><img src="../images/footer-contact_03.png" alt=""></i>021-61151111 转 214275
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p><a href="">公司简介</a>│<a href="">产品信息</a>│<a href="">合作介绍</a>│<a href="">广告合作</a>│<a href="">合作申请</a></p>
        <p>沪ICP 备 16000017号 © 2016-2017 RuWang All Rights Reserved  版权所有 <a href="">法律声明</a></p>

    </div>
</div>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>