<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
      	<link rel="stylesheet" href="../css/coop_join.css" />
	</head>
	<body>
		<header>
			<div class="container">
				<a href="javascript:void(0);">
					<img src="images/logo.png"/>
				</a>
				<ul class="nav navbar-nav">
					<li><a href="javascript:void(0);">公司简介</a></li>
					<li><a href="javascript:void(0);">产品信息</a></li>
					<li><a href="javascript:void(0);">合作介绍</a></li>
					<li><a href="javascript:void(0);">合作申请</a></li>
					<li><a href="javascript:void(0);">企业动态</a></li>
				</ul>
			</div>
		</header>
		<div class="container middle">
			<h4>高科技带来的新零售自动售货机<br />High-tech new retail vending machines</h4>
		
		</div>
		<div class="Application">
			<div class="container">合作申请</div>
		</div>
		<div class="coop_join_ipt">
			<div class="container">
				<span></span>
				<h2>全国统一申请热线 ：<span>021-61151111</span> 转 214275</h2>
				<div class="join_input">
					<span>联系人姓名</span><input type="text"/>
					<span>联系人电话</span><input type="text" />
					<span>需要服务</span>
					<div class="option_list">
						<input  class="option" value="合作服务"/><span class="option_btn"></span>
						<ul class="option_ul">
							<li>广告合作</li>
							<li>品牌合作</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	  	<div class="container join_submit">
	  		<div class="join_submit_btn">
	  			提交申请
	  		</div>
	  	</div>
	  	<div class="svm_center">
	  		<div class="container">
	  			<h3>旺旺集团 自动售货机中心</h3>
	  			<span class="svm_center_icon1"></span>
	  			<span class="svm_center_add">上海市闵行区虹许路558号3楼</span>
	  			<span class="svm_center_icon2"></span>
	  			<span class="svm_center_add">BD@hollywant.com</span>
	  			<span class="svm_center_icon3"></span>
	  			<span class="svm_center_add">021-61151111 转 21427</span>
	  		</div>
	  	</div>
	  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="js/coop_join.js"></script>
	</body>
</html>
