<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>企业动态—列表-新闻详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<link href="../css/bootstrap.min.css" rel="stylesheet">
      	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
      	<link rel="stylesheet" href="../css/index-blog-single_post.css" />
	</head>
	<body>
		<header>
			<div class="container">
				<a href="javascript:void(0);">
					<img src="../images/logo.png"/>
				</a>
				<ul class="nav navbar-nav">
					<li><a href="javascript:void(0);">公司简介</a></li>
					<li><a href="javascript:void(0);">产品信息</a></li>
					<li><a href="javascript:void(0);">合作介绍</a></li>
					<li><a href="javascript:void(0);">合作申请</a></li>
					<li><a href="javascript:void(0);">企业动态</a></li>
				</ul>
			</div>
		</header>
		<div class="container middle">
			<h4>高科技带来的新零售自动售货机<br />High-tech new retail vending machines</h4>
		</div>
		<div class="movement">
			企业动态
		</div>
		<div class="movement_info">
			<div class="container clearfix">
				<div class="movement_info_left">
					<a href="javascript:void(0);"><返回</a>
					<div class="article">
						<h4>旺旺“自动售货机第一股” 1.2亿全资收购迷你KTV"友唱"， 整体估值6亿</h4>
						<span style="color:#40c7f1">07月20日,2017</span><span style="margin-left: 16px;">by 旺旺智能售货机运营部</span>
						<div class="news_contant clearfix">
							<img src="../images/shj2.png" alt="" />
							<p>在需求和技术驱动下，近几年中国自动售货机行业发展提速，但市场仍处在启动期，潜在增长空间巨大。友宝是智能售货机行业龙头，具备点位资源优势，但商品销售业务仍在亏损，盈利依靠广告，未来将通过加盟扩张规模，运营效率和成本结构有望优化。预计2017年友宝自动售货机业务净利润1.33-1.52亿元，估值30.5-37.9亿元。<br />
							   自动售货机早已不是新鲜事物。作为一种自助式零售终端，它的点位分布灵活，可以渗透到楼道、地铁站等门店难以进入的空间，满足即时便利和随机性的消费需求，且无需人力值守，可24小时营业，具备独特的渠道价值。<br />
								日本是自动售货机业态最发达的国家。根据日本自动贩卖机行业协会数据，2016年，日本共有494万台自动售货机，大约每26人就拥有一台，实现销售额折合人民币约2,930亿元。其中，常规的饮料售货机只占一半，其他类型售货机售卖的商品包括香烟、杂志、雨伞、丝袜等，从日用杂货到电子产品，几乎无所不包。此外，日本的自动售货机不局限在室内空间，也密集分布在室外街道。<br />
								相比之下，自动售货机在中国市场的境遇要差很多。从90年代进入中国以来，由于消费习惯不成熟和运营维护成本等因素制约，自动售货机行业发展缓慢，设备主要分布在工厂和学校，受众面较小。<br />
								2010年开始，以友宝为代表的运营商推动了自动售货机的智能化升级，农夫山泉、娃哈哈等快消品制造商也开始入场，行业进入快速发展期。<br />
								根据凯度零售咨询的数据，中国自动售货机保有量从2011年不到2万台增长到了2016年的20多万台。与日本相比，中国的自动售货机市场仍处在启动期，潜在市场空间巨大。<br />
								沉寂已久的自动售货机，为什么开始迎来好时代？<br />
								从零售行业的视角来看，随着线上流量红利的衰退，线下流量的价值得到重新审视，但线下门店业态也面临着人力和租金成本上升的压力。<br />
								根据中国连锁经营协会发布的报告，2016年，便利店的租金成本上升了7%，人工成本上升了6.5%。因此，去人力成本、占地面积小的自动售货机成为关注热点。自助果汁机、自助咖啡机、生鲜售卖机等新设备的出现，更让这个业态展现出无限可能。<br />
								从需求端来看，随着收入水平的提升，人们对即时便利性消费的需求在增加，自动售货机的消费环境日益成熟。一般认为，人均GDP达到 1万美元时，消费者对自动售货机的需求将迎来爆发。2016年，中国已有9个省市的人均GDP达到这一水平。此外，随着城市化进程持续推进，人口在不断集中，适合自动售货机铺设的写字楼、地铁站等公共空间面积在不断增加。
							</p>
						</div>
						<div class="article_lable">
							<div>标签：<span style="margin-left: 15px;">智能售货机</span><span>如旺</span><span>自动售货机中心</span></div>
						</div>
					</div>
				</div>
				<div class="movement_info_right">
					<div class="movement_search">
						<input type="text" class="search_input" placeholder="输入动态关键字"/>
						<input type="button" class="search_btn" />
					</div>
					<p class="new_receat">最新动态</p>
					<ul class="info_right_list">
						<li class="info_right_list_li">
							<img src="../images/tx5.png" alt="" />
							<h4>旺旺向全国发展上千台智能售货机</h4>
							<p>自助场景渗透到生活的多方面：自助便利店、KTV、饮品、美食售货机等，未来将会有更多的自助终端出现</p>
							<a href="">阅读全文</a>
						</li>
						<li class="info_right_list_li">
							<img src="../images/tx5.png" alt="" />
							<h4>自动售货机新零售，打造未来消费新高地</h4>
							<p>自动售货机属于新零售业态的一种，相较于亚马逊的无人商店Amazon go来说，它能更好的满足购物的及时性，对于实体零售店算是一种补充。</p>
							<a href="">阅读全文</a>
						</li>
						<li class="info_right_list_li">
							<img src="../images/tx5.png" alt="" />
							<h4>智能售货机产业新业态</h4>
							<p>日本国立研究中心5月31日根据调查数据发布消息称，约7成国民赞成禁止香烟在自动售货机贩卖</p>
							<a href="">阅读全文</a>
						</li>
					</ul>
					<p class="lable">标签</p>
					<div class="lable_icon">
						<span class="lable_icon_change">智能售货机</span>
						<span>如旺</span>
						<span>自动售货机中心</span>
					</div>
				</div>
			</div>
		</div>
	  	<div class="svm_center">
	  		<div class="container">
	  			<h3>旺旺集团 自动售货机中心</h3>
	  			<div class="svm_center_info">
	  				<span class="svm_center_icon1"></span>
	  				<span class="svm_center_add">上海市闵行区虹许路558号3楼</span>
	  				<span class="svm_center_icon2"></span>
	  				<span class="svm_center_add">BD@hollywant.com</span>
	  				<span class="svm_center_icon3"></span>
	  				<span class="svm_center_add">021-61151111 转 21427</span>
	  			</div>
	  		</div>
	  	</div>
	  	<footer>
	  		<div class="container">
	  			<div class="footer_list">
	  				<a href="" style="border: none;">公司简介</a>
	  				<a href="">产品信息</a>
	  				<a href="">合作介绍</a>
	  				<a href="">广告合作</a>
	  				<a href="">合作申请</a>
	  			</div>
	  			<p>沪ICP 备 16000017号 © 2016-2017 RuWang All Rights Reserved 版权所有 法律声明</p>
	  		</div>
	  	</footer>
	  <script src="../js/jquery-2.1.1.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/index-blog-single_post.js"></script>
	</body>
</html>

