<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>法律声明</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<link href="../css/bootstrap.min.css" rel="stylesheet">
      	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
      	<link rel="stylesheet" href="../css/index_law.css" />
	</head>
	<body>
		<header>
			<div class="container">
				<a href="javascript:void(0);">
					<img src="../images/logo.png"/>
				</a>
				<ul class="nav navbar-nav">
					<li><a href="javascript:void(0);">公司简介</a></li>
					<li><a href="javascript:void(0);">产品信息</a></li>
					<li><a href="javascript:void(0);">合作介绍</a></li>
					<li><a href="javascript:void(0);">合作申请</a></li>
					<li><a href="javascript:void(0);">企业动态</a></li>
				</ul>
			</div>
		</header>
		<div class="container middle">
			<h4>高科技带来的新零售自动售货机<br />High-tech new retail vending machines</h4>
		</div>
		<div class="movement">
			<div class="container">
				法律声明
			</div>
		</div>
		<div class="disclaimer">
			<div class="container">				
				<h5>免责声明</h5>
				<p>如旺公司在此特别声明对如下事宜不承担任何法律责任：<br />
					（一） 如旺在此声明，对您使用网站、与本网站相关的任何内容、服务或其它链接至本网站的站点、内容均不作直接、间接、法定、约定的保证。<br />
					（二） 无论在任何原因下（包括但不限于疏忽原因），对您或任何人通过使用本网站上的信息或由本网站链接的信息，或其他与本网站链接的网站信息所导致的损失或损害 （包括直接、间接、特别或后果性的损失或损害，例如收入或利润之损失，电脑系统之损坏或数据丢失等后果），责任均由使用者自行承担（包括但不限于疏忽责任）<br />
					使用者对本网站的使用即表明同意承担浏览本网站的全部风险，由于如旺或如旺关联公司未参与建设、制作或发展本网站或提供内容，对使用者在本网站存取资料所导致的任何直接、相关的、后果性的、间接的或经济上的损失不承担任何责任。
				</p>
			</div>
		</div>
	  	<div class="svm_center">
	  		<div class="container">
	  			<h3>旺旺集团 自动售货机中心</h3>
	  			<div class="svm_center_info">
	  				<span class="svm_center_icon1"></span>
	  				<span class="svm_center_add">上海市闵行区虹许路558号3楼</span>
	  				<span class="svm_center_icon2"></span>
	  				<span class="svm_center_add">BD@hollywant.com</span>
	  				<span class="svm_center_icon3"></span>
	  				<span class="svm_center_add">021-61151111 转 21427</span>
	  			</div>
	  		</div>
	  	</div>
	  	<footer>
	  		<div class="container">
	  			<div class="footer_list">
	  				<a href="" style="border: none;">公司简介</a>
	  				<a href="">产品信息</a>
	  				<a href="">合作介绍</a>
	  				<a href="">广告合作</a>
	  				<a href="">合作申请</a>
	  			</div>
	  			<p>沪ICP 备 16000017号 © 2016-2017 RuWang All Rights Reserved 版权所有 法律声明</p>
	  		</div>
	  	</footer>
	  <script src="../js/jquery-2.1.1.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/index_law.js"></script>
	</body>
</html>

